@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Jacques+Francois+Shadow&display=swap');


:root{
  --ff-primary: "Seaweed Script", cursive;
    --ff-secondary:"inter",sans-serif;
    --ff-desigin: "Diplomata SC", serif;
      --ff-manage: "Jacques Francois Shadow", serif;
      --ff-prodect:  "Black Ops One", system-ui;
      --ff-prodect: "Black Ops One", system-ui;;
}


.main{
    background: #010d26;
}

.navbar{
    background-color: #2c3d5e; 
}
.nav-img{
    width: 100px;
}
.nav-logo h4{
    font-size: 13px;
}
.nav-logo p{
    margin-top: -12px;
    font-size: 10px;
}
.form-control{
    outline: none; 
}
.dropdown-menu{
    background-color: #010d26;
}
.nav-item a{
    color: #c7ac79;
    /* background: linear-gradient(10deg, #c7ac79,#1c2c4d); */
}
.dropdown-item{
    color: black;
}
.dropdown-menu{
  background-color: #2c3d5e;
}
.btn{
    width: 150px;
}
.main-item{
    color: #1a1a1a;
    font-weight: lighter;
}
/* --nav-end-- */




/* ---subscribe-start--- */

.contect{
    background: linear-gradient(rgba(0, 0, 0, 0.6)), url("./img/contect-us\ img.webp") center/cover no-repeat fixed;
}
@media (max-width:480px) {
  .contect-img{
    width: 150px;
  }
}
.prodect-text{
  background: linear-gradient(rgba(0, 0, 0, 0.6)), url("./img/contect-us\ img.webp") center/cover no-repeat fixed;
  /* width: 50%; */
}
.prodect-text h1{
  color: #c7ac79;
}
.inputbar{
  border: 2px solid #c7ac79;
  background-color: #475d87;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 15px;
  width: 25rem;
  height: 40px;
}
textarea{
  border: 2px solid #c7ac79;
  background-color: #475d87;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 105px;
  color: #fff;
  padding: 3px;
  width: 25rem;
  /* height: 5.5rem; */
}
.prodect-text button{
  width: 130px;
  height: 40px;
  border: none;
  background-color: #c7ac79;
  border-radius: 5px;
  color: #010d26;
}
.prodect-text button:hover{
  background-color: #475d87;
}
.con .btn{
  width: 470px;
  background-color: #9cb1de;
  margin-bottom: 15px;
  transition: 0.9s;
  color: #fff;
}
@media (max-width:480px) {
  .contetc-list img{
  width: 40px;
  }
  [type="text"]{
    width: 20rem;
  }
  .inputbar{
    width: 15rem;
  }
  .con .btn{
    width: 300px;
  }
}
.prodect-img{
    width: 150px;
}
.con .btn:hover{
  background-color: #d9e5ff;
  color: black;
}
/* ---subscribe-end--- */

.footer-list{
  background-color: #243351;
}
.footer-text h2{
    font-size: 12px;
}
.footer-text h6:hover{
    background-color: #c7ac79;
    width: 70%;
    transition: 0.3s;
    border-radius: 3px;
    color: black;
    padding: 2px;
    padding-left: 5px;
}


/* --footer-start--- */
.footer-item h4{
  font-family: var(--h2);
  color: #c7ac79;
}
.footer-item p{
  font-family: var(--a);
}
.footer-text h2{
  color: #c7ac79;
}
.footer-text h6{
  font-family: var(--a);
  border-radius: 3px;
  padding: 2px;
  font-size: 12px;
  padding-left: 5px;
}
.footer-text{
  font-family: var(--a);
  flex-wrap: wrap;
}
.footer-text ul li{
  list-style: none;
  gap: 20px;
}
.footer-text ul li img{
  margin-left: 10px;
}
.footer-text ul li img:hover{
  background-color: #c7ac79;
  padding: 2px;
  transition: 0.3s;
  border-radius: 50%;
}
@media (max-width:480px) {
  .ul-bar img{
  width: 50px;
  }
}
footer h6{
  font-family: var(--h2);
}
footer ul li{
  list-style: none;
}
.one:focus{
  border: none;
}   
.search-1{
  border-radius: 5px;
  border: none;
}
.main-button{
  background-color: #e7ca93;
  border: none;
  width: 80px;
  height: 40px;
  margin-left: -88px;
  border-radius: 5px;
}
form button:hover{
  background-color: #010d26;
  color: #fff;
  transition: 0.5s;
}
h6 span{
  color: #c7ac79;
}

/* ---footer-end--- */